body {
    background-image:url(https://static.independent.co.uk/s3fs-public/indy100/WJx2anyzTAl/25791-abufoo.jpg);
    background-position: center;
   
    text-align:center;
    }
    
marquee {
     color:red;
     width:500px;
     background-color:black;
     border:outset 20px red;
     font-size:100px;
    }    

h1 {
    color:red;
    background-color:black;
    border:outset 10px red;
    text-align:center;
    }    
    
h2 {
    color:red;
     background-color:black;
    border:outset 10px red;
    text-align:center;
    font-size:50px;
    }
    
.message {
        color:red;
     background-color:black;
    border:outset 10px red;
    text-align:center;
    font-size:50px;
    }
    
button{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    }    

.majic{
    display:none;
    }

.input {
    display:none;
    }
    
.back {
    display:none;
    }